:root {
  /* Define CI colors/ border/ shadow/ gradient to not retype them every time
    & if something get changed you just change e.g. the hex-code and will change everywhere  */

  --primary-color: #190e4f; /* Define a root variable for primary color */
  --secondary-color: #b33c86;
  --accent-color-light: #ea638c;
  --accent-color-dark: #03012c;
  --accent-color: #002a22;
  --bg-color: ;
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --border: 2px solid var(--primary-color);
  --border-secondary: 2px solid var(--secondary-color);
  --border-light: 1px solid var(--white);
  --border-radius: 8px;
  --border-radius-larg: 32px;
  --shadow: 5px 5px 40px 5px rgba(0,0,0,0.2);
}

/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

section {
  padding: 2rem 7%;
}

/* TYPOGRAPHY */

h1 {
  font-size: 48px;
}

h2 {
  text-align: center;
  font-size: 39px;
  padding-bottom: 2rem;
}

h3 {
  font-size: 30px;
}

h4 {
  text-align: center;
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

/* Button */

.btn {
  padding-top: 24px;
}

.btn .btn-primary {
  padding: 8px 16px;
  border: var(--border);
  font-size: 1rem;
  border-radius: var(--border-radius);
  color: var(--white);
  background: var(--primary-color);
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 8px 16px;

  /* Glassmorphism CSS Generator
    Create a CSS Glass Effect
    From https://css.glass */
  background: rgba(25, 14, 79, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
}

.header .navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
}

.header .navbar-menu .navbar-item a {
  color: var(--white);
}

.header .icons.navigation div {
  font-size: 1.75rem;
  cursor: pointer;
  color: var(--white);
}

.header .icons.navigation div:hover {
  color: var(--gray);
}

.navbar-btn .btn-primary {
  padding: 8px 16px;
  border: var(--border);
  font-size: 24px;
  border-radius: var(--border-radius);
  color: var(--white);
  background: var(--primary-color);
}

/* Search Form */

.header .search-form input[type="search"]::-webkit-search-decoration,
.header .search-form input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.header .search-form input[type="search"] {
  outline: none;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 1rem;
  background: url(/Content/Icons/magnifier.svg) no-repeat 0 center;
  background-size: 30px;
  border: none;
  border-bottom: 3px solid transparent;
  color: transparent;
  padding: 10px;
  width: 10px;
  margin: 10px 0;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.header .search-form input[type="search"]:focus {
  width: 300px;
  padding-left: 32px;
  background: none;
  border-bottom: 3px solid var(--white);
  color: var(--white);
  cursor: auto;
}

.header .search-form input[type="search"]:hover {
  border-bottom: 3px solid var(--white);
}

input::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-webkit-input-placeholder {
  color: var(--white);
}
/* Firefox < 19 */
input:-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: var(--white);
}
/* Firefox > 19 */
input::-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: var(--white);
}
/* Internet Explorer 10 */
input:-ms-input-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: var(--white);
}
/* .header .search-form {
    position: absolute;
    top: 110%;
    right: 0%;
    background: var(--white);
    width: 40rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transform-origin: top;
}

.header .search-form:active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}


.header .search-form label {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    color: var(--bg-color);
}

.header .search-form label:hover {
    color: var(--black);
} */

/* Logo */

.header .logo img {
  width: 200px;
}

/* Slider */

.slider {
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
}

.slider .slider-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.slider .slider-container .slider-menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.slider .slider-container .slider-menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: var(--black);
  border-radius: 50px;
  margin: 0 0.2rem 1rem;
}

.slider .slider-container .slider-menu label:hover {
  background: var(--gray);
}

.slider .slider-container .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8rem 1rem 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s 0.75s;
}

input[type="radio"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

.slide.slide-1 {
  background: url("../Content/Images/pexels-cottonbro-studio-7169857.jpg");
}

.slide-2 {
  background: url("../Content/Images/pexels-cottonbro-studio-7169853.jpg");
}

.slide-3 {
  background: url("../Content/Images/pexels-rdne-stock-project-8474492.jpg");
}

/* Two Column Element */

.content .flex-column-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.content .flex-column-table .flex-column.one-half {
  width: 50%;
}

.content .flex-column-table .flex-column.one-half .text-container {
  padding: 0 5rem 0 10rem;
}

.content .flex-column-table .flex-column.one-half .image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Four Column Element */

.content .flex-column-table .flex-column.one-forth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 35px;
    transition: all 1s;
    position: relative;
}

.content .flex-column-table .flex-column.one-forth .text-block {
    text-align: center;
}

.content .flex-column-table .flex-column.one-forth:hover {
  transform: scale(1.001);
  border-radius: var(--border-radius-larg);
  box-shadow: var(--shadow);
}

.content .flex-column-table .flex-column.one-forth::after {
  content: '';
  background: url('Content/Images/Rectangle-orange.png');
  position: absolute;
  z-index: 99;
  bottom: 1px;
  left: 1px;
}