/* Styling und Umsetzung von Sonia Malki Prüf. Nr: 11611 */
:root,
[data-bs-theme=SR-dark] {
  --background-black: #161616;
  --black: #000000;
  --white: #ffffff;
  --gray: #b5b5b5;
  --transparent-white: rgba(255, 255, 255, 0.8);
  --orange: #f69800;
  --glas: rgba(255, 255, 255, 0.1);
  --background-filter: blur(12.5px);
  --image-gradient: linear-gradient(20deg, rgba(22, 22, 22, 0.50) 0%, rgba(22, 22, 22, 0.00) 100%);
  --brd: 1px solid var(--white);
  --brd-radius: 4px;
  --btn-primary: var(--orange);
  --btn-primary-hover: #C07700;
  --btn-secondary-bg: rgba(240, 181, 86, 0.20);
  --btn-secondary-brd: 1px solid rgba(240, 181, 86, 0.70);
  --btn-secondary-bg-hover: #F0B556;
  --btn-secondary-brd-hover: 1px solid #F69800;
}

/* Inter Font */

@font-face {
  font-family: 'Inter';
  src: url('../Content/Fonts/Inter-Bold.eot');
  src: url('../Content/Fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../Content/Fonts/Inter-Bold.woff2') format('woff2'),
    url('../Content/Fonts/Inter-Bold.woff') format('woff'),
    url('../Content/Fonts/Inter-Bold.ttf') format('truetype'),
    url('../Content/Fonts/Inter-Bold.svg#Inter-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../Content/Fonts/Inter-Medium.eot');
  src: url('../Content/Fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('../Content/Fonts/Inter-Medium.woff2') format('woff2'),
    url('../Content/Fonts/Inter-Medium.woff') format('woff'),
    url('../Content/Fonts/Inter-Medium.ttf') format('truetype'),
    url('../Content/Fonts/Inter-Medium.svg#Inter-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../Content/Fonts/Inter-Regular.eot');
  src: url('../Content/Fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../Content/Fonts/Inter-Regular.woff2') format('woff2'),
    url('../Content/Fonts/Inter-Regular.woff') format('woff'),
    url('../Content/Fonts/Inter-Regular.ttf') format('truetype'),
    url('../Content/Fonts/Inter-Regular.svg#Inter-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* General Style */

body {
  background-color: var(--background-black);
  color: var(--white);
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

.btn-primary {
  background: var(--btn-primary);
  color: var(--white);
  border: 0 none;
  border-radius: var(--brd-radius);
  cursor: pointer;
  padding: 1rem 2rem;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: var(--btn-primary-hover);
  color: var(--white);
  border: 0 none;
  border-radius: var(--brd-radius);
  cursor: pointer;
  padding: 1rem 2rem;
}


#msform .action-button:hover {
  background: var(--btn-primary-hover);
  color: var(--white);
  border: 0 none;
  border-radius: var(--brd-radius);
  cursor: pointer;
  padding: 1rem 2rem;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white);
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 3.75rem;
  font-weight: 700;
}

h1 span {
  color: var(--orange);
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2.25rem;
  font-weight: 500;
}

h4 {
  font-size: 1.875rem;
  font-weight: 500;
}

h5 {
  font-size: 1.563rem;
  font-weight: 500;
}

h6 {
  font-size: 1.125rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.body-small {
  font-size: 0.875rem;
}

.body-tiny {
  font-size: 0.75rem;
}

a {
  color: var(--orange);
}

a:hover,
a:focus {
  color: var(--btn-primary-hover);
}

@media screen and (max-width: 768px){
  h1 {
    font-size: 3.063rem;
    font-weight: 700;
    padding-top: 1rem;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  
  h4 {
    font-size: 1.688rem;
    font-weight: 500;
  }
  
  h5 {
    font-size: 1.438rem;
    font-weight: 500;
  }
}

/* Navigation */

nav {
  background: var(--glas);
  backdrop-filter: var(--background-filter);
  -webkit-backdrop-filter: var(--background-filter);
}

nav .container-fluid {
  --bs-gutter-x: 4rem;
}

nav.navbar-expand-lg .navbar-nav {
  gap: 2rem;
}

nav .nav-link {
  color: var(--white);
}

nav .nav-link:hover,
nav .nav-link:focus {
  color: var(--orange);
}

.offcanvas.show {
  height: 100vh;
}

.navbar-toggler {
  border: 0 none;
}

.navbar-toggler:focus {
  border: 0 none;
  box-shadow: none;
}

.navbar-toggler-icon {
  height: 2rem;
  width: 2rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23FFFFFF' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5'/%3E%3C/svg%3E")
}

/* Hero */
.hero-img {
  background: url(../Content/Images/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  height: 48vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .hero-img {
    background: var(--image-gradient), url(../Content/Images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    height: 48vh;
    width: 100%;
  }
}

/* Slider */
#angebote {
  position: relative;
  margin: 0 auto;
  min-height: 60vh;
  column-gap: 3rem;
}

.slider-side-text {
  width: 25%;
  display: flex;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--white);
}

.swiper-pagination {
  bottom: 2rem !important;
}

.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}


.swiper-slide p {
  color: var(--white);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide h4 a {
  cursor: pointer;
  color: var(--orange);
  text-decoration: none;
}

.swiper-slide h4:hover {
  color: var(--btn-primary-hover);
}

.swiper-slide .collapse {
  padding-bottom: 0;
}

.swiper-slide .collapse .text-center {
  padding-bottom: 0;
}

.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 4rem;
  margin: 0 auto;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}

.swiper-slide--one {
  background: var(--image-gradient),
    url(../Content/Images/Slider-Beratung.jpg) no-repeat 50% 50% / cover;
  border-radius: var(--brd-radius);
}

.swiper-slide--two {
  background: var(--image-gradient),
    url(../Content/Images/Slider-Planung.jpg) no-repeat 50% 50% / cover;
  border-radius: var(--brd-radius);
}

.swiper-slide--three {
  background: var(--image-gradient),
    url(../Content/Images/Slider-Einbau.jpg) no-repeat 50% 50% / cover;
  border-radius: var(--brd-radius);
}

.swiper-slide--four {
  background: var(--image-gradient),
    url(../Content/Images/Slider-Wartung.jpg) no-repeat 50% 50% / cover;
  border-radius: var(--brd-radius);
}

.swiper-slide--five {
  background: var(--image-gradient),
    url(../Content/Images/Slider-Reparatur.jpg) no-repeat 50% 50% / cover;
  border-radius: var(--brd-radius);
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}


@media screen and (min-width: 48rem) {
  #angebote {
    display: flex;
    align-items: center;
  }
}

/* Expertise */

/* Image Map */
.image-map {
  position: relative;
}

.btn-map {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--btn-primary);
  border: 0 none;
  outline: 0.2rem solid var(--btn-primary);
  outline-offset: 0.33rem;
}

.btn-map:hover,
.btn-map:focus {
  border-radius: 50%;
  background-color: var(--btn-primary-hover);
  border: 0 none;
  outline: 0.2rem solid var(--btn-primary-hover);
  outline-offset: 0.33rem;
}

@media screen and (max-width:768px) {
  .btn-map {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    font-size: 0.75;
  }
}

.btn-img-1 {
  position: absolute;
  left: 42%;
  top: 3%;
}

.btn-img-2 {
  position: absolute;
  left: 30%;
  top: 55%;
}

.btn-img-3 {
  position: absolute;
  left: 42%;
  top: 72%;
}

.btn-img-4 {
  position: absolute;
  left: 50%;
  top: 35%;
}

.btn-img-5 {
  position: absolute;
  left: 60%;
  top: 80%;
}

.btn-img-6 {
  position: absolute;
  left: 67%;
  top: 45%;
}

#expertise .row>* {
  padding-left: 0;
  padding-right: 0;
}

/* Team */

#team .card {
  border: var(--brd);
}

@media screen and (max-width: 992px) {
  #team .card {
    width: 18rem;
  }
}

/*form styles*/

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform ul {
  padding: 0 2rem;
}

#msfor .card label.form-label {
  font-size: 16px;
  font-weight: 500;
}

#msform fieldset .form-card {
  border: 0 none;
  border-radius: 0px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;

  /*stacking fieldsets above each other*/
  position: relative;
}

#msform fieldset {
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform fieldset .form-card {
  text-align: left;
}

#msform input.form-control,
#msform textarea,
#msform select {
  border: 0.5px solid var(--gray);
  border-radius: var(--brd-radius);
  background-color: var(--white);
  color: var(--gray);
  font-size: 1rem;
}

#msform input.form-control:focus,
#msform textarea:focus,
#msform select:focus {
  box-shadow: 0 0 4px 4px rgba(240, 181, 86, 0.20);
}

#msform label.form-label {
  font-weight: 500;
}

/*Primary Buttons*/
#msform .action-button {
  background: var(--btn-primary);
  color: var(--white);
  border: 0 none;
  border-radius: var(--brd-radius);
  cursor: pointer;
  padding: 1rem 2rem;
}

#msform .action-button:hover {
  background: var(--btn-primary-hover);
  color: var(--white);
  border: 0 none;
  border-radius: var(--brd-radius);
  cursor: pointer;
  padding: 1rem 2rem;
}

/*Previous Buttons*/
#msform .action-button-previous {
  background: var(--btn-secondary-bg);
  color: var(--orange);
  border: var(--btn-secondary-brd);
  border-radius: var(--brd-radius);
  cursor: pointer;
  padding: 1rem 2rem;
}

#msform .action-button-previous:hover {
  background: var(--btn-secondary-bg-hover);
  color: var(--white);
  border: var(--btn-secondary-brd-hover);
  border-radius: var(--brd-radius);
  cursor: pointer;
  padding: 1rem 2rem;
}

.bi-info-circle {
  color: var(--orange);
  cursor: pointer;
}
/*The background card*/
.card {
  z-index: 0;
  border: none;
  border-radius: var(--brd-radius);
  position: relative;
  background: var(--black);
  backdrop-filter: var(--background-filter);
  color: var(--white);
}


/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
}

#progressbar .active {
  color: var(--orange)
}

#progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  position: relative;
}

#progressbar li span {
  padding-top: 0.5rem;
}

/*Icons in the ProgressBar*/
#progressbar i::before {
  font-size: 1.25rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  display: block;
  position: relative;
  color: var(--black);
  background: var(--white);
  border-radius: 50%;
  outline: var(--background-black) solid 0.5rem;
}

#progressbar .active i::before {
  font-size: 1.25rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  display: block;
  position: relative;
  color: var(--white);
  background: var(--orange);
  border-radius: 50%;
  outline: var(--background-black) solid 0.5rem;
}

/*ProgressBar before any progress*/
#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: var(--white);
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--glas);
  position: absolute;
  left: 0;
  top: 1.5rem;
  z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: var(--orange);
}

/*Radio Buttons*/
.form-check-input:checked[type=radio] {
  background-image: url(Content/Images/check.svg);
  background-color: transparent;
  border-color: var(--orange);
}

.form-check-input:focus[type=radio] {
  box-shadow: 0 0 4px 4px rgba(240, 181, 86, 0.20);
}

label.form-check-label {
  font-weight: 400;
}

#msform label.form-label.label-sm {
  font-weight: 400;
}

.form-personal-mobile{
  display: none;
}

@media screen and (max-width: 991px) {
  .form-personal-mobile {
    display: block;
  }
  .form-personal {
    display: none;
  }
  #solar {
    word-break: break-all;
  }
}

/*Fit image in bootstrap div*/
.fit-image {
  width: 100%;
  object-fit: cover;
}

/* FAQ */
.accordion {
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-color: var(--white);
  --bs-accordion-active-bg: rgba(255, 255, 255, 0.2);
  --bs-accordion-border-color: var(--glas);
  --bs-accordion-bg: var(--black);
  --bs-accordion-btn-bg: rgba(255, 255, 255, 0.2);
}

.accordion .accordion-item:has(.accordion-button:not(.collapsed)) {
  border: var(--brd)
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23F69800' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23F69800' class='bi bi-chevron-up' viewBox='0 0 16 16'%3E%3Cpath d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z'/%3E%3C/svg%3E");
}

/* Footer */
footer {
  background: var(--black);
}

footer li {
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 992px) {
  footer .row {
    display: flex;
    flex-flow: column;
  }

  footer .conatct {
    order: 2;
  }

  footer .footer-logo {
    display: flex;
    justify-content: center;
    order: 1;

    img {
      width: 170px;
      height: 100px;
    }
  }

  footer .legal {
    display: flex;
    align-items: start;
    order: 3;
  }
}

footer a {
  color: var(--white);
  text-decoration: none;
}

footer .socket {
  background: var(--background-black);
  margin: 0;
}

.adress {
  display: flex;
  gap: 0.5rem;
}